<!DOCTYPE html>

<%- include('./partials/head.ejs')%>
<body>

  <!--setting a valua in ejs-->
  <% const name = 'mario' %>

  <!-- includes are called "partials" in ejs 
    using the - prefix will not escape special 
    characters and will render the html tags in stead
    of producing raw text like with = sign
  -->
  <%- include('./partials/nav.ejs')%>

  <div class="blogs content">
    Hello <%= name %>!  

    <% if (blogs.length > 0) { %>
    <% blogs.forEach(blog => { %>
      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p>
    <% }) %>
    <% } else { %>
      <p>😟 Sorry, there are no blogs to display.</p>
    <% } %>
  </div>
  
  <%- include('./partials/footer.ejs')%>

</body>
</html>