<!DOCTYPE html>

<%- include('./partials/head.ejs')%>
<body>

  <% const name = 'mario' %>
  <!-- includes are called "partials" in ejs -->
  <%- include('./partials/nav.ejs')%>

  <div class="blogs content">
    Hello <%= name %>!  

    <% if (blogs.length > 0) { %>
    <% blogs.forEach(blog => { %>
      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p>
    <% }) %>
    <% } else { %>
    <p>there are no blogs to display</p>
    <% } %>
  </div>
  
  <%- include('./partials/footer.ejs')%>

</body>
</html>